<div class='row top-bar'>
  <div class='col-md-6 left-pane' >

    <div *ngFor="let tab of tabList">
      <div [ngClass]="{'highlight':tab.name === activeTab && tab.noHighlight !== true}">
        <a [routerLink]="[tab.link]" (click)="onSelect(tab.name)">
          <h2>{{tab.name}}</h2>
        </a>
      </div>
    </div>
  </div>

  <div class="col-md-6 right-pane">
    <a class="button fancy-button" href="https://github.com/ashishmd/getSQL" target="_blank">
      <i class="material-icons">code</i>Github
    </a>
  </div>
</div>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->