.top-bar {
  padding-left: 20px;
  padding-right: 20px;
  background-color:#756d68;
  margin: 0px;
}

.top-bar-item {
  padding-left: 20px;
  width: 200px;
}

.left-pane {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.left-pane h2 {
  color: white;
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

a, a:hover {
  text-decoration: none;
}

.left-pane h2:hover {
  background-color: #443e3b;
}

.highlight {
  background-color: #443e3b;
}


.right-pane {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  padding: 20px;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/